<%# 削除されたアイテムをDOMから削除 %>
<%= turbo_stream.remove dom_id(@cart_item) %>

<%# カート合計金額の更新 %>
<%= turbo_stream.update 'cart-total-price' do %>
  <%= number_to_currency(@current_cart.total_price) %>
<% end %>

<%# ナビゲーションバーのカートアイテム数の更新 %>
<%= turbo_stream.update 'nav-cart-count' do %>
  <%= @cart_items.sum(:quantity) %>
<% end %>

<%# カートアイテム数の更新 %>
<%= turbo_stream.update 'cart-count' do %>
  <%= @cart_items.sum(:quantity) %>
<% end %>

<%# フラッシュメッセージの更新 %>
<%= turbo_stream.update 'flash-messages' do %>
  <%= render 'shared/flash_messages' %>
<% end %>

<%# カートが空になった場合、全体を更新 %>
<% if @cart_items.empty? %>
  <%= turbo_stream.update '.row.g-5' do %>
    <div class="py-5 text-center">
      <p>カートに商品がありません。</p>
      <%= link_to '商品一覧に戻る', products_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
      <%= link_to '商品一覧に戻る', products_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>