<div class="container">
  <main>
    <div class="py-5 text-center">
      <h1 class="h2">ショッピングカート</h1>
      <p class="lead"></p>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end%>
      <% if alert %> 
        <p class="alert alert-danger"><%= alert %></p>
      <% end%>
      <% if @cart_items.empty? %>
        <p>カートに商品がありません。</p>
        <%= link_to '商品一覧に戻る', products_path, class: 'btn btn-primary' %>
      <% else %>
        <div class="row g-5">
          <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-primary">Your cart</span>
              <span class="badge bg-primary rounded-pill"><%= @cart_items.sum(:quantity) %></span>
            </h4>
            <ul class="list-group mb-3">
              <% @cart_items.each do |item|%>
                <%= render partial: 'customer/cart/cart_item', locals: {item: item} %>
              <% end %>
              <%# <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                  <div class="text-success">
                    <h6 class="my-0">Promo code</h6>
                    <small>EXAMPLECODE</small>
                  </div>
                  <span class="text-success">−$5</span>
                <%# </li> %>
              <li class="list-group-item d-flex justify-content-between">
                <%# <span>Total (USD)</span> %>
                <div class="d-flex w-100 justify-content-between align-items-center">
                  <%= link_to cart_path,
                    data: {turbo_method: :delete, turbo_confirm: '本当にカート内を全て削除しますか？'},
                    class: 'btn btn-sm btn-danger' do %>
                      <i class="bi bi-trash"></i> カートを空にする
                  <% end %>
                  <strong class="ms-auto text-end">Total(USD) <%= number_to_currency(@current_cart.total_price) %></strong>
                </div>
              </li>
            </ul>
            <%# <form class="card p-2">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Promo code">
                  <button type="submit" class="btn btn-secondary">Redeem</button>
                </div>
              </form> %>
          </div>


          <div class="col-md-7 col-lg-8 text-start" >
            <%= form_with model: @checkout, local: true, data: { turbo: false }, html: {class: "needs-validation", novalidate: true } do |f|  %>
              <h4 class="mb-3">Billing address</h4>
              <div class="row g-3">
                <div class="col-sm-6">
                  <%= f.label :first_name, "First name", class: "form-label", required: true %>
                  <%= f.text_field :first_name, class: "form-control" %>
                </div>
                <div class="col-sm-6">
                  <%= f.label :last_name, "Last name", class: "form-label", required: true %>
                  <%= f.text_field :last_name, class: "form-control" %>
                </div>
                <div class="col-12">
                  <%= f.label :username, "username", class: "form-label", required: true %>
                  <div class="input-group has-validation">
                    <span class="input-group-text">@</span>
                    <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
                  </div>
                </div>
                <div class="col-12">
                  <%= f.label :email, "Email (Optional)", class: "form-label", required: true %> 
                  <%= f.text_field :email, class: "form-control", placeholder: "you@example.com" %>
                </div>
                <div class="col-12">
                  <%= f.label :address, "Address", class: "form-label", required: true %>
                  <%= f.text_field :address, class: "form-control", placeholder: "1234 Main St" %>
                </div>
                <div class="col-12">
                  <%= f.label :address2, "Address 2 (Optional)",class: "form-label" %>
                  <%= f.text_field :address2, class: "form-control", placeholder: "Apartment or suite" %>
                </div>
                <div class="col-md-5">
                  <%= f.label :country, "Country", class: "form-label" %>
                  <%= f.select :country, options_for_select(['Choose', 'United States']), {}, class: "form-select" %>
                </div>

                  <div class="col-md-4">
                    <%= f.label :state, "State", class: "form-label" %>
                    <%= f.select :state, options_for_select(['Choose','California' ]), {}, class: "form-select" %>
                  </div>
                  <div class="col-md-3">
                    <%= f.label :zip, "Zip", class: "form-label" %>
                    <%= f.text_field :zip, class: "form-control" %>
                  </div>
              </div>


              <hr class="my-4">

                <div class="form-check">
                  <%= f.check_box :same_address, class: "form-check-input" %>
                  <%= f.label :same_address, "Shipping address is the same as my billing address", class: "form-check-label" %>
                </div>
                <div class="form-check">
                  <%= f.check_box :save_info, class:"form-check-input" %>
                  <%= f.label :save_info, "Save this information for next time", class: "form-check-label" %>
                </div>

              <hr class="my-4">

              <h4 class="mb-3">Payment</h4>
              <div class="my-3">
                <div class="form-check">
                  <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                  <label class="form-check-label" for="credit">Credit card</label>
                </div>
              </div>
              <div class="row gy-3">
                <div class="col-md-6">
                  <label for="cc-name" class="form-label">Name on card</label>
                  <input type="text" class="form-control" id="cc-name" placeholder="" required>
                  <small class="text-body-secondary">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="cc-number" class="form-label">Credit card number</label>
                  <input type="text" class="form-control" id="cc-number" placeholder="" required>
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>
                <div class="col-md-3">
                  <label for="cc-expiration" class="form-label">Expiration</label>
                  <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                  <div class="invalid-feedback">
                    Expiration date required
                  </div>
                </div>
                <div class="col-md-3">
                  <label for="cc-cvv" class="form-label">CVV</label>
                  <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
              </div>
              
              <hr class="my-4">
              <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </main>
</div>
