<%# 購入者向け %>
<h1>ご購入ありがとうございます</h1>
<p><%= @order.customer_name %>様</p>
<p>この度は,当店をご利用いただき誠にありがとうございました。</p>
<p>以下の内容でご注文を承りました。</p>
<h2>ご注文内容</h2>
<ul>
  <% @cart_items.each do |item| %>
    <li>
      <%= item.product.name %> x <%= item.quantity %>個 - <%= number_to_currency(item.quantity * item.price, unit: "$") %>
    </li>
  <% end %>
</ul>
<% if @order.discount_amount.present? && @order.discount_amount > 0 %>
  <p>プロモーションコード割引: <%= number_to_currency(@order.discount_amount, unit: "$") %></p>
<% end %>
<p>合計金額: <%= number_to_currency(@order.total_price, unit: "$")%></p>
<p>またのご利用をお待ちしております。</p>
