<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="<%= controller.controller_path.starts_with?('admin/') ? admin_root_path : root_path %>">Rails EC Site</a> <%# トップページへのリンク %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link <%= current_page?(root_path) ? 'active' : '' %>" aria-current="page" href="<%= root_path %>">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="<%= products_path %>">All Products</a></li> <%# 商品一覧ページへのリンク %>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            <% if controller.controller_path.starts_with?('admin/') %>
                <%= link_to "商品作成", new_admin_product_path, class: "btn btn-primary" %>
            <% else %>
              <div class="d-flex">
                <%= link_to customer_cart_path, class:"btn btn-outline-dark" do %>
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill"><%= @cart_items.sum(:quantity) %></span> <%# カートの点数は動的に変更 %>
                <% end %>
              </div>
            <% end %>
        </div>
    </div>
</nav>